@import "tailwindcss";

@layer base {
  :root {
    --gradient-primary: linear-gradient(
      135deg,
      hsl(220 90% 56%) 0%,
      hsl(240 80% 62%) 100%
    );
  }
}


@layer components {
  .app-icon {
    width: 45px;
    height: 45px;
    border-radius: 12px;
    background: var(--gradient-primary);
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0 8px 24px hsl(220 90% 56% / 0.35);
  }
}
